* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

body {
  padding-top: 40px;
  background-color: rgb(158, 142, 195);
}

.title {
  margin-left: 9%;
}

ul {
  margin-top: 16px;
  border: 1px solid black;
  width: 85%;
  height: 70vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

li {
  list-style-type: none;
  margin-left: -7%;
  padding: 3px 0 3px 9px;
}

.container {
  display: flex;
  width: 100%;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.section-1 {
  width: 50%;
}

.section-2 {
  width: 40%;
}

.recent-scores {
  display: inline;
  font-size: 1 rem;
}

li:nth-child(even) {
  background-color: rgb(217, 217, 217);
}

.input-description {
  margin: 0 0 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.add-btn {
  width: 80px;
  position: absolute;
  top: 38%;
  right: 12.5%;
}

.refresh-btn,
.add-btn {
  box-shadow: 4px 3px 1px #c9701e;
}

.refresh-btn {
  position: absolute;
  left: 35%;
}

input {
  height: 28px;
}
